<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.edu.ufcg.les142"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <permission android:name="br.edu.ufcg.les142.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="br.edu.ufcg.les142.permission.C2D_MESSAGE" />

    <application
            android:label="@string/app_name"
            android:name=".Application"
            android:icon="@drawable/icone_arrumae">
        <activity android:name=".DispatchActivity"
                  android:screenOrientation="portrait"
                  android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="InitialActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/initial_activity">
            <uses-library android:name="com.google.android.maps" />

        </activity>

        <activity android:name="PostRelatoActivity"
                  android:label="@string/post_relato_activity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme"
                  android:parentActivityName="br.edu.ufcg.les142.InitialActivity">
        </activity>

        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme" >
        </activity>

        <activity android:name=".LoginActivity"
                  android:label="@string/login"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme" >
        </activity>

        <activity android:name=".SignUpActivity"
                  android:label="@string/signup"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme" >
        </activity>
        <activity android:name=".DescRelatoActivity"
                  android:label="DescRelatoActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme" >

        </activity>
        <activity android:name=".CommentListActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppBaseTheme" >
        </activity>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="6171000" />
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyC8eH0P9tUfuK_3PalQBliclwN-nKnCLlc" />

        <service android:name="com.parse.PushService" />
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                 <category android:name="br.edu.ufcg.les142" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
